body{
    background-color: hsl(hue, saturation, lightness);
    background-size: 20px 20px;
}
h1
{
    color:rgb(74, 74, 46);
    text-align:center;
}
.conteiner{
    color:beige;
    counter-reset: section;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section{
    text-align: left;
    counter-increment: section;
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    color: beige;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(223, 223, 8);
    margin: 5px;
    text-decoration: none;
}
.link{
    color:rgb(113, 25, 25);
    text-decoration: none;
}
link:hover{
    cursor: pointer;
}